@using Autopark.DAL.Entities;
@model OrderItem;
@{
    ViewData["Title"] = "Add component for vehicle";
}

<h1>@ViewData["Title"]</h1>

<h3>Adding components for @ViewBag.Vehicle.Model</h3>
<form class="cf" asp-controller="OrderItem" asp-action="Create">

	<div>
		<div class="form-group">
<!--Remove one class attribute--><label class="col-1" asp-for="ComponentId" class="mr-sm-2">Choose a component</label>
			<select class="col-2 form-control" asp-for="ComponentId" asp-items="@ViewBag.Components"></select>
		</div>

		<div class="form-group">
			<label class="col-1" asp-for="Quantity">Choose the quantity</label>
			<input class="col-2 form-control" asp-for="Quantity" value=0 />
		</div>
		<input hidden asp-for="OrderId" />
		<div class="form-group">
			<button class="btn btn-primary btn-outline-dark" type="submit">Submit</button>
		</div>
		
	</div>
	
</form>

<div>
	<button class="btn btn-primary btn-outline-dark">
		<a style="color: white; text-decoration: none;" asp-controller="Order" asp-action="Index">Back</a>
	</button>
</div>

