@using Autopark.DAL.Entities;
@model Order;

@{
	ViewData["Title"] = "Create order";
}
<h1>@ViewData["Title"]</h1>
<button type="button">
	<a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Back</a>
</button>
<br />
<form asp-action="Create" asp-controller="Order" >
	<div>
		<div class="form-group">
			<label>Date</label>
			<input class="form-control  form-control-sm" type="date" asp-for="Date" />
		</div>
		<div class="form-group">
			<label>Vehicle Id</label>
			<select class="form-control  form-control-sm" class="form-control" type="text" asp-for="VehicleId" asp-items="@ViewBag.vehicles"></select>
		</div>

	</div>
	<button type="submit">Submit</button>
</form>
