@using Autopark.DAL.Entities;
@model Order;

@{
	ViewData["Title"] = "Create order";
}
<h1>@ViewData["Title"]</h1>
<button class="btn btn-primary btn-outline-dark">
	<a style="text-decoration: none; color: white;" asp-controller="Order" asp-action="Index">Back</a>
</button>
<br />
<form asp-action="Create" asp-controller="Order" >
	<div>
		<div class="form-group">
			<label class="col-1">Date</label>
			<input class="col-2 form-control  form-control-sm" type="date" asp-for="Date" />
		</div>
		<div class="form-group">
			<label class="col-1">Vehicle Id</label>
<!--Remove one class attribute--><select class="col-2 form-control  form-control-sm" class="form-control" type="text" asp-for="VehicleId" asp-items="@ViewBag.vehicles"></select>
		</div>

	</div>
	<button class="btn btn-success btn-outline-dark" type="submit">Submit</button>
</form>
